.intro-img {
	border-radius: 50%;
	border: 2px solid var(--light-purple);
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Mobile */
@media (max-width: 480px) {
	.intro-img {
		height: 12rem;
		width: 12rem;
	}

	.intro {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
}

/* Desktop */
@media (min-width: 480px) {
	.intro-img {
		height: 20rem;
		width: 20rem;
	}

	.intro {
		margin-top: 10rem;
		margin-bottom: 10rem;
	}
}
