.intro-img {
	border-radius: 50%;
	border: 2px solid var(--light-purple);
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

#intro {
	height: calc(100vh - 5rem - 50px);
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.arrow {
	text-align: center;
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

.arrow-down {
	height: 36px;
	width: 36px;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

/* Mobile */
@media (max-width: 480px) {
	.intro-img {
		height: 12rem;
		width: 12rem;
	}

	.intro-img-container {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}

	#intro-text {
		font-size: 1.4rem;
	}
}

/* Desktop */
@media (min-width: 480px) {
	.intro-img {
		height: 15rem;
		width: 15rem;
	}

	.intro-img-container {
		margin-top: 7.5rem;
		margin-bottom: 7.5rem;
	}
}

@media (max-height: 800px) {
	.arrow {
		margin-top: 10rem;
	}

	.intro-img-container {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}

	.logo-home {
		margin-top: 5rem;
	}
}

@media (min-height: 801px) {
	.arrow {
		margin-top: 25rem;
	}
}
