.intro-img {
	border-radius: 50%;
	border: 2px solid var(--light-purple);
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}

/* Mobile */
@media (max-width: 480px) {
	.intro-img-container {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}

	.intro-img {
		height: 12rem;
		width: 12rem;
	}
}

/* Desktop */
@media (min-width: 480px) {
	.intro-img-container {
		margin-top: 7.5rem;
		margin-bottom: 7.5rem;
	}

	.intro-img {
		height: 15rem;
		width: 15rem;
	}
}

@media (max-height: 800px) {
	.intro-img-container {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
}
