.page-header {
	width: 100vw;
	height: 50px;
	display: flex;
	justify-content: center;
	background-color: #26262c;
}

.page-header ul {
	margin: 0;
}

.nav-link:after {
	display: block;
	content: '';
	border-bottom: solid 3px #9147ff;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}
.nav-link:hover:after {
	transform: scaleX(1);
}

.page-header li:active {
	border-bottom-color: var(--light-purple);
}

.selected-item {
	color: var(--light-purple);
}

.logo-header {
	border: 3px solid;
	font-size: 24px;
	padding: 0px 5px;
	border-color: #9147ff;
	color: white;
	font-family: 'Quando';
}

.rotate-in-center {
	-webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotate-in-center {
	0% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}
@keyframes rotate-in-center {
	0% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

/* Desktop */
@media (min-width: 480px) {
	.logo-header {
		display: none;
	}

	#menu-mobile {
		display: none;
	}
}

/* Mobile */
@media (max-width: 480px) {
	#menu-desktop {
		display: none;
	}
}
