.page-footer {
	/* position: absolute;
	bottom: 0; */
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-footer li:not(:last-child) {
	margin-right: 2rem;
}

.page-footer img {
	height: 24px;
	width: 24px;
}

.copyright {
	margin-right: 5rem;
	font-size: 1.3rem;
}

/* Desktop */
@media (min-width: 480px) {
	.page-footer ul {
		margin: 0;
	}

	.page-footer {
		margin-bottom: 1rem;
		margin-top: 20rem;
	}
}

/* Mobile */
@media (max-width: 480px) {
	.page-footer {
		flex-direction: column-reverse;
		margin-top: 10rem;
	}

	.copyright {
		margin-right: 0;
		margin-bottom: 1.5rem;
	}
}
