:root {
	--main-background: #0e0e10;
	--text-base: #efeff1;
	--light-purple: #9147ff;

	font-size: 60%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--main-background);
	overflow-x: hidden;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
}

body,
input,
button,
textarea {
	font: 500 1.6rem Quando;
	color: var(--text-base);
}

a {
	color: var(--text-base);
}

a:hover {
	color: var(--light-purple);
	text-decoration: none;
}

a:active {
	color: var(--light-purple);
	text-decoration: none;
}

.container {
	width: 90vw;
	max-width: 700px;
}

#app {
	position: relative;
}

@media (min-width: 700px) {
	:root {
		font-size: 62.5%;
	}
}
